@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--gamja-Flower);
  --font-footer: var(--gamja-Flower);
  --font-body: var(--lexend);
  --font-alt: var(--lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}


